.container{
    display: flex;
    flex-direction: row;
}
.countContainer{
    display: flex;
    background-color: #504EC6;
    flex-direction: column;
    width: 250px;
    border-radius: 7px;
    padding: 18px;
    gap: 10px;
}
.counter{
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 7px;
    border: 1px solid #1BBEBE;
    padding: 25px;
    font-size: 36px;
}
.counterAlarm{
    color: red;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.button{
    padding: 10px 35px;
    border-radius: 7px;
    width: 100%;
}
.buttonIncrem{
    background-color: #504EC6;
    color: white;
    border: 1px solid #1BBEBE;
}
.buttonIncremDis{
    background-color: #39353591;
    color: grey;
    border: 1px solid #1BBEBE;

}
.buttonDefault{
    background-color: #504EC6;
    color: white;
    border: 1px solid #1BBEBE;
}
.buttonContainer{
    display: flex;
    justify-content: right;
}
.buttonMenu{
    display: flex;
    justify-content: right;
    width: 100px;
    color: #1BBEBE;
    border: none;
    outline: none;
    font-size: 12px;
    background-color: #504EC6;
}
.buttonSettingsContainer{

}
.menu.active{
    visibility: hidden;
}
.menu{
    width: 140px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #504EC6;
    border-radius: 7px;
    padding: 18px;
    gap: 10px;
    margin: 0 0 0 5px;
}
.inputValue{
    display: flex;
    justify-content: center;
    width: 125px;
    height: 25px;
    border-radius: 7px;
    background-color: #504EC6;
    color: white;
    border: 1px solid #1BBEBE;
}
.inputStep{
    display: flex;
    justify-content: center;
    width: 125px;
    height: 25px;
    border-radius: 7px;
    background-color: #504EC6;
    color: white;
    border: 1px solid #1BBEBE;
}
.buttonSave{
    height: 50px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #504EC6;
    color: white;
    border: 1px solid #1BBEBE;
}